/*
    FILE: style.login.css
    DESC: Styling for the loging page for the RegEx Intranet.
    AUTH: Kevin J. Becker 
    VERS: 03/23/2019
*/

.login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.login-row {
    margin-bottom: 30px;
}

.login-row label {
    display: block;
    margin-bottom: 8px;
}

.login-input {
    display: block;
    width: 30rem;
    padding: 5px 10px;
    min-height: 25px;
    border: none;
    border-bottom: 1px solid #7c93bd;
    transition: .25s;
    font-size: 1rem;
    font-weight: 300;
    border-radius: .25rem;
}

.login-input:focus {
    background-color: #f4f7ff;
    border-bottom-color: #366ed6;
}

/* the submit button needs a lot of styling */
.btn-submit {
    padding: 10px 15px;
    border-radius: .25rem;
    border: none;
    background-color: #366ed6;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: .3s;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.btn-submit:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    background-color: #4378db;
}
.btn-submit:active {
    background-color: #578bec;
}

@media screen and (max-width: 675px) {
    /* all survey inputs need to be stylized to be full width */
    .login-input {
        width: calc(100% - 20px); 
    }

    #login-form {
        width: 100%;
    }

    .btn-submit {
        margin-left: auto;
        margin-right: 0;
    }
}