/*
    FILE: style.login.css
    DESC: Styling for the loging page for the RegEx Intranet.
    AUTH: Kevin J. Becker 
    VERS: 03/23/2019
*/

.login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.error~.login {
    margin-top: 60px;
}

.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 675px) {
    #login-form {
        width: 100%;
    }
}