/*
    FILE: style.css
    DESC: Main styling for the RegEx project.
    AUTH: Kevin J. Becker 
    VERS: 03/23/2019
*/

/*   GLOBAL STYLING   */
/* content will be written with Open Sans typeface */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,300');

/* general styling for the body */
body {
    margin: 0;
    margin-top: 50px;
    background: #f4f7ff;
}

/* any timed transision will use ease-in-out function */
* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    transition-timing-function: ease-in-out;
}

/* removes default css outlines for inputs  */
*:focus, *:invalid {
    outline: none;
}

/*   END GLOBAL STYLING -- NAVBAR STYLING   */

/* the header will be what is known also as a "navbar"
   in this navbar many changes are made, but the gist is
   a purple bar 1.5rem minimum in height with links
   to all the pages */
.header {
    font-family: 'Roboto', Helvetica, Arial, sans-serif!important;
    font-weight: 300;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    min-height: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.98);
    color: #6d7487;
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, .15);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* forces all anchors to have pointer cursor (some aren't in header) */ 
a {
    cursor: pointer;
}

/* since we're using a <ul> for the navigation links
   we have to make them display inline */
.navbar-links-wrapper, .navbar-links-wrapper li {
    display: inline;
}

/* changes some alignment with the <ul> and sets
   the transition time */
.navbar-links-wrapper {
    vertical-align: sub;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: .25s;
}

/* sets the styling of each link in the navbar */
.navbar-link a {
    color: #b6bed3;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    transition: .25s;
}

.navbar-link a:hover {
    color: #858ca0;
}

/* applies right padding to everything except last link */
.navbar-links-wrapper li:not(:last-child) {
    margin-right: 10px;
}

/* the .navbar-brand is the main image of the whole site; the logo */
.navbar-brand {
    text-decoration: none;
}
.navbar-brand img {
    position: relative;
    top: 3px;
    width: 100px;
    vertical-align: middle;
    margin: 0 10px;
    transition: .25s;
}
.navbar-brand img:hover {
    transform: scale(1.08);
}

/* makes the active links white (current page is different 
   from other links) */
.navbar-link a.active {
    color: #6d7487;
}

/* the toggler button is for small screens to open the list of navigable links */
.navbar-toggler {
    display: none;
    color: rgba(0,0,0,.5);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    transition: .3s ease;
    float: right;
}

.navbar-toggler:hover, .navbar-toggler.open {
    background-color: #e7ebf4;
}

/* the toggler icon that we want users to click on to expand the menu */
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* a 3 line svg found in bootstrap source code (just lifted it) */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* some changes need to occur to the header if the screen 
   is smaller than 690px */
@media screen and (max-width: 690px) {
    /* the header needs to not be flexbox anymore */
    .header {
        display: inline;
    }

    /* the navbar toggler needs to be shown on screen */
    .navbar-toggler {
        display: inline-block;
    }

    /* the navbar links need to become their own block, overflow hidden and
       be invisible for the time being */
    .navbar-links-wrapper {
        display: block;
        overflow: hidden;
        margin: 0;
        max-height: 0;
        transition: max-height .3s ease;
    }

    /* each link needs to appear on its own line */
    .navbar-link {
        width: 100%;
        display: block !important;
        text-align: center;
        padding: 10px 15px;
    }
}

/*   END NAVBAR STYLING -- BODY CONTENT STYLING   */

/* the content class is used to delineate the header from
   the content of the page */
.content {
    background: white;
    margin: 0 auto;
    width: 75%;
    padding: 50px 30px 60px;
}

.content.thin {
    width: 55%;
}

/* the content of the page changes depending on width of screen */
@media screen and (max-width: 1044px) {
    .content, .content.thin {
        width: calc(100% - 40px);
        padding: 30px 20px 30px;
        min-height: calc(100vh - 110px);
    }
}

/*   END BODY CONTAINER STYLING -- BODY CONTENT STYLING   */

/* the content headers need their own styling */
.content-header h1 {
    font-size: 3.5rem;
    margin-top: 15px;
    margin-bottom: 0;
}

.content-header h1.header-smaller {
    font-size: 2.5rem;
}

.content-header h3 {
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: 300;
    font-style: italic;
    color: #b0b0b0;
}

/* the links on the entire page */
.content a {
    color: #555b6b;
    transition: .25s;
}
.content a:hover {
    color: #282d38;
}

.error {
    background: #e25757;
    color: #ffffff;
    margin-top: 2rem;
    padding: 1.25rem;
}

.input-row {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.required:after {
    content: "*";
    color: #ff0000;
}

.label-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.regex-std-input, .regex-alt-input, .regex-std-select {
    /*display: block;*/
    padding: 10px;
    min-height: 25px;
    border: none;
    border-bottom: 3px solid #b9caea;
    transition: .25s;
    font-size: 1rem;
    font-weight: 300;
    border-radius: .25rem;
}

.regex-std-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    padding-right: 1.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.regex-std-input {
    width: 30rem;
}

.regex-alt-input {
    width: calc(100% - 20px);
    background: transparent;
}

.regex-std-input:hover, .regex-alt-input:hover {
    background-color: #f4f7ff;
}

.regex-std-input:focus, .regex-alt-input:focus {
    background-color: #eff2f9;
    border-bottom-color: #366ed6;
}

.regex-std-table {
    width: 100%;
    overflow-x: scroll;
    text-align: center;
    border-collapse: collapse;
}

.regex-std-table th {
    padding: 8px;
}

.regex-std-table td {
    padding: 15px;
}

.regex-std-table tbody tr:nth-of-type(2n+1){
    background-color: #f4f7ff;
}

.regex-std-table tbody tr:hover {
    background-color: #eff2f9;
}

@media screen and (max-width: 675px) {
    .regex-std-input {
        width: calc(100% - 20px);
    }

    .table-responsive {
        display: block;
    }

    .btn-primary {
        width: 100%;
        display: block;
        margin-left: 0!important;
        margin-top: 15px !important;
    }
}

.btn-primary {
    padding: 10px 15px;
    border-radius: .25rem;
    border: none;
    background-color: #366ed6;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}
.btn-primary:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    background-color: #4378db;
}
.btn-primary:active {
    background-color: #578bec;
}

a.btn-primary {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 110px;
    text-align: center;
}

a.btn-primary:hover {
    color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    background-color: #4378db;
}

a.btn-primary:active {
    color: #ffffff;
    background-color: #578bec;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

.center-div {
    display: flex;
    justify-content: center;
}

/*   END CONTENT STYLING -- TEXT STYLING   */

/* some general styling classes */ 
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-small {
    font-size: .8rem;
}
.text-large {
    font-size: 1.5rem;
}
.text-muted {
    color: #7f7f7f;
}
.text-bold {
    font-weight: bolder;
}
.text-italic {
    font-style: italic;
}
.ml-1 {
    margin-left: 0.5rem;
}
.ml-2 {
    margin-left: 1rem;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mb-0 {
    margin-bottom: 0;
}
.no-deco {
    text-decoration: none;
}
.mw-50 {
    max-width: 50%;
}

.ib {
    display: inline-block!important;
}

@media screen and (max-width: 675px) {
    .mw-50 {
        width: 100%;
        max-width: 100%;
    }
}